//COLORS
$purple: #6C63FF;
$green: #6FCF97;
$red: #FF6363;
$dark-shade-100: rgba(31,32,65,1);
$dark-shade-75: rgba(31,32,65,.75);
$dark-shade-50: rgba(31,32,65,.5);
$dark-shade-25: rgba(31,32,65,.25);
$dark-shade-5: rgba(31,32,65,.05);

//ANIMATION
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}